.footer {
  display: flex;
  flex-direction: column;
  height: $footerHeigh;
  border-top: 1px solid $grey-color;
  background: $white-color;

  .container {
    height: 100%;
    line-height: $footerHeigh;
  }
}
